@model Ourmsmart.Models.FAContent

@{
    ViewBag.Title = "ایجاد محتوا";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}
<script src="~/Content/ckfinder/ckfinder.js"></script>
<script src="~/Content/ckeditor/ckeditor.js"></script>

<div style="text-align:right; background-color:white;padding:25px;overflow-x:auto;">
    <h2>ایجاد محتوی</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select name="title" class="search-form-control" id="title">
                        <option value="" disabled selected>انتخاب دسته بندی</option>
                        <option value="درباره ما">درباره ما</option>
                        <option value="شعار">شعار</option>
                        <option value="تعداد تیم ها">تعداد تیم ها</option>
                        <option value="تعداد کارکنان">تعداد کارکنان</option>
                        <option value="شرایط پرداخت">شرایط پرداخت</option>
                        <option value="هزینه ارسال">هزینه ارسال</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.content, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextArea("content", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.content, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ActionLink("برگشت", "Index") |
                    <input type="submit" value="ایجاد" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }



</div>




    <script type="text/javascript">
        var editor = CKEDITOR.instances['content'];
        if (editor) {
            editor.destroy(true);
        }
        CKEDITOR.replace('content', {
            enterMode : CKEDITOR.ENTER_BR
        });
        CKFinder.setupCKEditor(null, '@Url.Content("~/Content/ckfinder/")');
    </script>
