@model IEnumerable<Ourmsmart.Models.FAContent>

@{
    ViewBag.Title = "محتوا";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}
<div style="text-align:right; background-color:white;padding:25px;overflow-x:auto;">
    <h2>محتوا</h2>

    <p>
        @Html.ActionLink("ایجاد محتوا", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.ActionLink("ویرایش", "Edit", new { id = item.CID }) |
                    @Html.ActionLink("جزئیات", "Details", new { id = item.CID }) |
                    @Html.ActionLink("حذف", "Delete", new { id = item.CID })
                </td>
            </tr>
        }

    </table>
</div>

