@using Ourmsmart.Filter
@using Ourmsmart.Models
@{ 
    string username = (string)Session["Username"];
    string auth = (string)Session["Auth"];
}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 4 admin, bootstrap 4, css3 dashboard, bootstrap 4 dashboard, Ample lite admin bootstrap 4 dashboard, frontend, responsive bootstrap 4 admin template, Ample admin lite dashboard bootstrap 4 dashboard template">
    <meta name="description"
          content="Ample Admin Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>@ViewBag.Title</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/ample-admin-lite/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/panel/plugins/images/favicon.png">
    <!-- Custom CSS -->
    <link href="~/Content/panel/css/style.min.css" rel="stylesheet">
    <link href="~/Content/toastr/build/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/Home/customfont.css" rel="stylesheet" />
    <link href="~/Content/Home/css/font-awesome.min.css" rel="stylesheet" />
</head>

<body dir="rtl" style="font-family:'IRANSans'">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
         data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin6">
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="#">
                        <!-- Logo icon -->
                        <b class="logo-icon">
                            <!-- Dark Logo icon -->
                            <img src="~/Content/panel/plugins/images/logo-icon.png" alt="homepage" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span class="logo-text">
                            <!-- dark Logo text -->
                            <img src="~/Content/panel/plugins/images/logo-text.png" alt="homepage" />
                        </span>
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"
                       href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <ul class="navbar-nav d-none d-md-block d-lg-none">
                        <li class="nav-item">
                            <a class="nav-toggler nav-link waves-effect waves-light text-white"
                               href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav ml-auto d-flex align-items-center">

                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li>
                            <a class="profile-pic" href="#">

                                @if (auth == "Admin")
                                {
                                    VIRADB db = new VIRADB();
                                    var u = (from a in db.FAUsers select a).Where(x => x.Username == username).FirstOrDefault();
                                    <span class="text-white font-medium">
                                        <span> نقش : مدیر</span>
                                    </span>
                                    <img src="@u.Imagepath" alt="-" width="36"
                                         class="img-circle">
                                    <span> @u.Fullname </span>
                                }
                                else if (auth == "Employee")
                                {
                                    VIRADB db = new VIRADB();
                                    var u = (from a in db.FAUsers select a).Where(x => x.Username == username).FirstOrDefault();
                                    <span class="text-white font-medium">
                                        <span> نقش : کارمند  </span>
                                    </span>
                                    <img src="@u.Imagepath" alt="-" width="36"
                                         class="img-circle">
                                    <span> @u.Fullname </span>
                                }
                                else
                                {
                                    <span> نقش : مشتری  </span>
                                }

                            </a>
                        </li>
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <!--<li class=" in">
                            <form role="search" class="app-search d-none d-md-block mr-3">
                                <input type="text" placeholder="جستجو..." class="form-control mt-0">
                                <a href="" class="active">
                                    <i class="fa fa-search"></i>
                                </a>
                            </form>
                        </li>-->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    @if (auth != "Customer")
                    {
                        <ul id="sidebarnav">
                            <!-- User Profile-->
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                   href=@Url.Action("Dashboard","Profile") aria-expanded="false">
                                    <i class="fas fa-clock fa-fw"
                                       aria-hidden="true"></i><span class="hide-menu">داشبورد</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                   href=@Url.Action("Index","Profile") aria-expanded="false">
                                    <i class="fa fa-user" aria-hidden="true"></i><span class="hide-menu">پروفایل</span>
                                </a>
                            </li>
                            @if (auth == "Admin")
                            {
                                <li class="sidebar-item">
                                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href=@Url.Action("Index","Contents") aria-expanded="false">
                                        <i class="fa fa-table"
                                           aria-hidden="true"></i><span class="hide-menu">محتوا</span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href=@Url.Action("Index","Users") aria-expanded="false">
                                        <i class="fa fa-user-plus"
                                           aria-hidden="true"></i><span class="hide-menu">اعضاء</span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href=@Url.Action("Index","Sliders") aria-expanded="false">
                                        <i class="fa fa-photo"
                                           aria-hidden="true"></i><span class="hide-menu">اسلایدر</span>
                                    </a>
                                </li>
                            }

                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                   href=@Url.Action("Index","Order") aria-expanded="false">
                                    <i class="fa fa-shopping-cart"
                                       aria-hidden="true"></i><span class="hide-menu">سفارشات</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                   href=@Url.Action("Products","Store") aria-expanded="false">
                                    <i class="fa fa-shopping-bag"
                                       aria-hidden="true"></i><span class="hide-menu">محصولات</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                   href=@Url.Action("Index","Features") aria-expanded="false">
                                    <i class="fa fa-shopping-bag"
                                       aria-hidden="true"></i><span class="hide-menu">ویژگی محصولات</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                   href=@Url.Action("Index","Contact") aria-expanded="false">
                                    <i class="fa fa-question-circle"
                                       aria-hidden="true"></i><span class="hide-menu">صندوق پیام</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                   href="#1" onclick="window.open('http://online.1abzar.com/index.php','','resizable=1,scrollbars=1,width=600,height=600,top=,left=,status=1,menubar=1,toolbar=1,location=1,directories=1');return false;" aria-expanded="false">
                                    <i class="fa fa-exchange"
                                       aria-hidden="true"></i><span class="hide-menu">بخش پشتیبانی</span>
                                </a>
                            </li>
                            <li class="text-center p-20 upgrade-btn">
                                <a onclick="exitpanel()"
                                   class="btn btn-block btn-danger text-white">
                                    <i class="fa fa-sign-out"
                                       aria-hidden="true"></i>
                                    خروج
                                </a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul id="sidebarnav">
                            <!-- User Profile-->
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                   href=@Url.Action("MyProfile","Customer") aria-expanded="false">
                                    <i class="fas fa-clock fa-fw"
                                       aria-hidden="true"></i><span class="hide-menu">پروفایل</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                   href=@Url.Action("MyOrders","Customer") aria-expanded="false">
                                    <i class="fa fa-shopping-cart"
                                       aria-hidden="true"></i><span class="hide-menu">سفارشات من</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                   href="#1" onclick="window.open('http://www.1abzar.com/visit/contact-form/?email=ce.sajjad.haghighat@gmail.com','','resizable=1,scrollbars=1,width=600,height=600,top=,left=,status=1,menubar=1,toolbar=1,location=1,directories=1');return false;" aria-expanded="false">
                                    <i class="fa fa-exchange"
                                       aria-hidden="true"></i><span class="hide-menu">تماس با مدیر</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                   href=@Url.Action("Index","Store") aria-expanded="false">
                                    <i class="fa fa-shopping-cart"
                                       aria-hidden="true"></i><span class="hide-menu">فروشگاه</span>
                                </a>
                            </li>
                            <li class="text-center p-20 upgrade-btn">
                                <a onclick="exitpanel()"
                                   class="btn btn-block btn-danger text-white">
                                    <i class="fa fa-sign-out"
                                       aria-hidden="true"></i>
                                    خروج
                                </a>
                            </li>
                        </ul>
                    }

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <!-- Date/Time by www.1abzar.com --->
                        <script type="text/javascript" src="//1abzar.ir/abzar/tools/time-date/clock.php?color=333333&font=11&bg=&kc=CAE09D&kadr=1"></script><div style="display:none"><h2><a href="http://www.1abzar.com/abzar/time-date.php">&#1587;&#1575;&#1593;&#1578; &#1608; &#1578;&#1575;&#1585;&#1610;&#1582;</a></h2></div><!-- Date/Time by www.1abzar.com --->
                        <!-- Date/Time by www.1abzar.com --->
                        <script type="text/javascript" src="//1abzar.ir/abzar/tools/time-date/date-fa.php?color=333333&font=10&bg=&kc=CAE09D&kadr=1"></script><div style="display:none"><h2><a href="http://www.1abzar.com/abzar/time-date.php">&#1587;&#1575;&#1593;&#1578; &#1608; &#1578;&#1575;&#1585;&#1610;&#1582;</a></h2></div><!-- Date/Time by www.1abzar.com --->
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ml-auto">
                                <li>@if (@ViewBag.Title != "داشبورد")
                                {<span>@ViewBag.Title</span>}</li>
                            </ol>
                            <ol class="breadcrumb ml-auto">
                                <li><a href="@Url.Action("Dashboard","Profile")">داشبورد</a></li>
                            </ol>
                            <a onclick="exitpanel()"
                               class="btn btn-danger  d-none d-md-block pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">
                                <i class="fa fa-sign-out"
                                   aria-hidden="true"></i>
                                خروج
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                @RenderBody()
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/Content/panel/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/Register/js/formToJson.min.js"></script>
    <script src="~/Content/panel/js/jquery.form.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/Content/panel/plugins/bower_components/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/Content/panel/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/panel/js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="~/Content/panel/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/Content/panel/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/Content/panel/js/custom.js"></script>
    <script src="~/Content/toastr/build/toastr.min.js"></script>
    @RenderSection("Scripts", false);
    <script>
        function exitpanel()
        {
            $.ajax({
                type: 'POST',
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                url: "/Auth/logout",
                success: function (rs) {
                    toastr.success(rs.message, rs.title, { timeOut: 3000 });
                    setTimeout(function () { window.location.replace('@Url.Action("Index","Home")'); }, 3000);
                },
                error: function (response) {
                    toastr.error(response.message, "Error", { timeOut: 3000 });
                }
            });
        }
    </script>
</body>

</html>