@using PagedList
@using PagedList.Mvc
@using Ourmsmart.Models
@using Ourmsmart.Controllers
@model IPagedList<Ourmsmart.Models.FAProduct>
@{
    ViewBag.Title = "فروشگاه";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    string auth = (string)Session["Auth"];
    string username = (string)Session["Username"];
}

<style>
    .search-form-control {
        height: auto;
        font-size: 15px;
        width: 100%;
        padding: 4px;
    }

    .search {
        height: auto;
        font-size: 15px;
        width: 100%;
        padding: 4px 0px 4px 0px;
    }

    .searchform {
        height: auto;
        background-color: white !important;
        border-radius: 5px;
        margin-bottom: 15px;
        margin-top: 15px;
        padding: 15px;
    }

    .exist, .non-exist {
        transition: all 0.4s;
    }

        .exist:hover {
            zoom: 1.02;
            border-top: solid 4px green;
        }

        .non-exist:hover {
            zoom: 1.02;
            border-top: solid 4px #fe5f55;
        }

    .pagenum {
        text-align: center;
        font-family: 'IRANSans';
    }

    .itemstyle {
        background-color: white;
        padding-top: 10px;
        margin: 2px;
        transition: box-shadow .3s;
        border-radius: 10px;
        border: 1px solid #ccc;
    }

        .itemstyle:hover {
            box-shadow: 0 0 11px rgba(33,33,33,.2);
        }

    .modal {
        color: black;
        background-image: linear-gradient(to left,#314755,#26a0da);
    }

    .modal-body div {
        margin-top: 5px;
    }

    .nav-link {
        cursor: pointer;
        text-align: center;
    }

    .modal-body a {
        background-color: white;
        color: #314755;
        padding: 2px;
        border-radius: 2px;
    }

    .animateinput {
        width: 50%;
        border: 2px solid #ccc;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        font-size: 16px;
        background-color: white;
        padding: 5px 20px 5px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

        .animateinput:focus {
            width: 70%;
        }

    .seachbtn {
        background-color: #207dff;
        color: white;
        font-size: 14px;
        padding: 6px 15px 6px 10px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        cursor: pointer;
        margin-right: -4px;
        transition: all 0.4s;
    }

        .seachbtn:hover {
            padding-right: 20px;
            background-color: grey;
            color: white;
        }

    .img-wrap img {
        width: 100%;
        height: auto;
    }
</style>
<link href="~/Content/PagedList.css" rel="stylesheet" />
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
    <div class="container">
        <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <div class="bst"><span class="oi oi-menu"></span> منو</div>
        </button>
        <a class="navbar-brand bst" href="/Store/Index">OrumSmart</a>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav nav ml-auto">
                <li class="nav-item"><a href=@Url.Action("Index", "Home") class="nav-link bst"><span>خانه</span></a></li>
                <li class="nav-item"><a href=@Url.Action("Login", "Home") class="nav-link bst"><span>ورود</span></a></li>
            </ul>
            <div dir="ltr">
                <ul class="navbar-nav nav ml-auto">
                    <li class="nav-item cta mr-md-2">
                        <a data-toggle="modal" data-target="#exampleModal2" class="nav-link" style="margin:1px;">
                            <span style="font-size:12px;">
                                سبد خرید
                                @{
                                    if (Session["Basket"] != null)
                                    {
                                        List<Cbasket> cb = (List<Cbasket>)Session["Basket"];
                                        <span>
                                            <i class="fa fa-shopping-cart"
                                               aria-hidden="true"></i>  @cb.Count
                                        </span>
                                    }
                                    else
                                    {
                                        <span>
                                            <i class="fa fa-shopping-cart"
                                               aria-hidden="true"></i> 0
                                        </span>
                                    }

                                }
                            </span>
                        </a>
                    </li>
                    <li class="nav-item cta mr-md-2">
                        <a data-toggle="modal" data-target="#exampleModal" class="nav-link" style="margin:1px;">
                            <span style="font-size:12px;">
                                رهگیری
                                <i class="fa fa-search-minus"
                                   aria-hidden="true"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<section class="ftco-section bg-light" id="blog-section">
    <div class="container">
        <div class="topstore">
            <form class="row bg-light searchform" method="get" action="@Url.Action("Index", "Store")">
                <div class="col-md-4 heading-section text-center ftco-animate">
                    <h4 class="mb-4" style="padding-top:15px;">فروشگاه</h4>
                </div>
                <!--<div class="form-group col-md-3">
                    <select name="Category" class="search-form-control" "id="Category>
                        <option value="" disabled selected>انتخاب دسته بندی</option>
                        <option value="Gadget">گجت</option>
                        <option value="Device">دستگاه</option>
                        <option value="Module">قطعات</option>
                    </select>
                </div>-->
                <div class="col-md-8" style="padding-top:5px;">
                    <div style="overflow:hidden;border-bottom-right-radius:50px;border-top-right-radius:50px;">
                        <input type="text" class="animateinput" name="search" placeholder="...">
                        <input type="submit" class="seachbtn" value="جستجو">
                    </div>

                </div>
            </form>
        </div>
        <div class="row d-flex">
            @foreach (var item in Model)
            {
                <div class="col-md-4 ftco-animate itemstyle">
                    <div class="blog-entry">
                        @if (item.Status == "موجود" || item.Status == "بزودی")
                        {
                            <div class="img-wrap">
                                <a href=@Url.Action("Detail", "Store", new { id = item.PID })><img src="@item.Imagepath" class="exist" alt="بدون عکس" /></a>
                            </div>
                            <div style="margin:-50px -10px 0px 0px;position:relative;"><a href="#" class="btn btn-primary" style="background-color:green">@item.Status</a></div>
                        }
                        else
                        {
                            <div class="img-wrap">
                                <a href=@Url.Action("Detail", "Store", new { id = item.PID })><img src="@item.Imagepath" class="non-exist" alt="بدون عکس" /></a>
                            </div>
                            <div style="margin:-50px -10px 0px 0px;position:relative;"><a href="#" class="btn btn-danger" style="background-color:#fe5f55">@item.Status</a></div>
                        }
                        <div class="text d-block" style="margin-top:20px;text-align:center;border-top:2px solid black">
                            <div class="meta mb-3">
                                @if (item.Status == "موجود")
                                {
                                    <span style="color:green" id="number"></span>
                                    <span style="color:green">ریال</span>
                                }
                                else if (item.Status == "ناموجود")
                                {
                                    <s>
                                        <span style="color:red" id="number"></span>
                                        <span style="color:red">ریال</span>
                                    </s>
                                }
                                else if (item.Status == "بزودی")
                                {
                                    <s>
                                        <span style="color:royalblue" id="number"></span>
                                        <span style="color:royalblue">ریال</span>
                                    </s>
                                }
                                <script src="~/Content/Home/js/jquery.min.js"></script>
                                <script src="~/Content/jQuery.persianNumbers-1.0.js"></script>
                                <script type="text/javascript" language="javascript">
                                        number_input = @item.Price;
                                        number_input += '';
                                        number_input = number_input.replace(',', ''); number_input = number_input.replace(',', ''); number_input = number_input.replace(',', '');
                                        number_input = number_input.replace(',', ''); number_input = number_input.replace(',', ''); number_input = number_input.replace(',', '');
                                        x = number_input.split('.');
                                        x1 = x[0];
                                        x2 = x.length > 1 ? '.' + x[1] : '';
                                        var rgx = /(\d+)(\d{3})/;
                                        while (rgx.test(x1))
                                            x1 = x1.replace(rgx, '$1' + ',' + '$2');
                                        console.log(x1 + x2);
                                        document.getElementById("number").innerHTML = $.persianNumbers(x1 + x2);

                                </script>

                            </div>
                            <div style="text-align:center">
                                <p class=""><a href=@Url.Action("Detail", "Store", new { id = item.PID })>@item.Title</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (Model == null)
            {
                <h3>
                    موردی یافت نشد
                </h3>
            }
        </div>
    </div>
</section>
<br />
<div class="pagenum">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, Category = Request.QueryString["Category"], search = Request.QueryString["search"] }),
                new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded }
                )
</div>
<br />



<!-- Modal Basket-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" dir="ltr">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">رهگیری وضعیت سفارش</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="@Url.Action("traceOrder","Order")" method="post">
                <div class="modal-body" dir="rtl">
                    <label>کدرهگیری را وارد کنید</label>
                    <input type="text" class="search-form-control" name="trace" value="" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">بررسی</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>

                </div>
            </form>

        </div>
    </div>
</div>


<!-- Modal commit order-->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" dir="ltr">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ثبت سفارش</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @if (Session["Basket"] != null)
            {
                <form action="@Url.Action("insertOrder","Order")" method="post">
                    <div class="modal-body" dir="rtl">
                        <div>
                            @{
                                VIRADB db = new VIRADB();
                                if (Session["Basket"] != null)
                                {
                                    List<Cbasket> cb = (List<Cbasket>)Session["Basket"];
                                    <div class="">
                                        @{
                                            var sendprice = (from a in db.FAContents select a).Where(x => x.title == "هزینه ارسال").FirstOrDefault();
                                            ViewBag.sum = Int32.Parse(sendprice.content);
                                            ViewBag.sendprice = Int32.Parse(sendprice.content);
                                            int inx = 1;
                                        }
                                        <script src="~/Content/Home/js/jquery.min.js"></script>
                                        <script src="~/Content/jQuery.persianNumbers-1.0.js"></script>
                                        @foreach (var item in cb)
                                        {
                                            <div class="ftco-animate itemstyle">
                                                <div class="row">
                                                    @{var q = db.FAProducts.Find(item.PID);
                                                        List<int> feat = item.Feature;
                                                        int tprice = 0;
                                                        foreach (var pt in feat)
                                                        {
                                                            tprice += Int32.Parse(db.Features.Find(pt).Price);
                                                        }
                                                        tprice = (Int32.Parse(q.Price) + tprice) * item.Qty;
                                                        ViewBag.sum += tprice;
                                                    }
                                                    <div class="col-md-4">
                                                        <div style="margin:-20px 0 0px 0px;position:relative;">
                                                            <a href="@Url.Action("DelItemFromBascket", new { deid = item.PID , deqty = item.Qty , decate = item.Feature.Sum(), count = item.Feature.Count })" class="btn btn-primary" style="background-color:red">X</a>
                                                        </div>
                                                        <div class="img-wrap">
                                                            <a href=@Url.Action("Detail", "Store", new { id = item.PID })><img src="@q.Imagepath" class="exist" alt="بدون عکس" /></a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="row" style="text-align:center;">
                                                            <div class="col-md-6 meta mb-3">
                                                                <span style="color:green" id="">تعداد</span>
                                                                <span style="color:green">
                                                                    <script>document.write($.persianNumbers(@item.Qty))</script>
                                                                </span><br />
                                                                @{ string idp = "num" + inx.ToString();}
                                                                <span style="color:green" id="@idp"></span>
                                                                <span style="color:green">ریال</span>
                                                                <script type="text/javascript" language="javascript">
                                                                number_input = @tprice;
                                                                number_input += '';
                                                                number_input = number_input.replace(',', ''); number_input = number_input.replace(',', ''); number_input = number_input.replace(',', '');
                                                                number_input = number_input.replace(',', ''); number_input = number_input.replace(',', ''); number_input = number_input.replace(',', '');
                                                                x = number_input.split('.');
                                                                x1 = x[0];
                                                                x2 = x.length > 1 ? '.' + x[1] : '';
                                                                var rgx = /(\d+)(\d{3})/;
                                                                while (rgx.test(x1))
                                                                    x1 = x1.replace(rgx, '$1' + ',' + '$2');
                                                                document.getElementById("@idp").innerHTML = $.persianNumbers(x1 + x2);

                                                                </script>

                                                                <div style="text-align:center;">
                                                                    <p><a href=@Url.Action("Detail", "Store", new { id = item.PID })>@q.Title</a></p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6" style="text-align:center;">
                                                                @foreach (var fea in item.Feature)
                                                                {
                                                                    <p>@db.Features.Find(fea).Title</p>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            inx++;
                                        }

                                    </div>
                                }
                                else
                                {
                                    <div>
                                        کالایی در سبد خرید وجود ندارد
                                    </div>
                                }

                            }
                        </div>
                        <br />
                        @{
                            var cshart = (from a in db.FAContents select a).Where(x => x.title == "شرایط پرداخت").FirstOrDefault();
                            if (cshart != null)
                            {
                                <div class="container">
                                    <div style="width:100%;background-color:red;color:white;text-align:center">
                                        شرایط پرداخت
                                    </div>

                                    <div style="padding:20px;">
                                        @Html.Raw(cshart.content)
                                    </div>
                                </div>
                            }
                        }
                        <br />
                        @if (auth == "Customer")
                        {
                            var q = (from a in db.Customers where username == a.Username select a).FirstOrDefault();
                            <div>
                                <div style="width:100%;background-color:red;color:white;text-align:center">
                                    فرم اطلاعات
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        @q.Fullname
                                        <input type="text" class="search-form-control" value="@q.Fullname" name="Name" placeholder="نام و نام خانوادگی" hidden />
                                    </div>
                                    <div class="col-md-6">
                                        @q.Phone
                                        <input type="text" class="search-form-control" value="@q.Phone" name="Phone" placeholder="شماره تلفن" hidden />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        @q.Email
                                        <input type="text" class="search-form-control" value="@q.Email" name="Email" placeholder="ایمیل" hidden />
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="search-form-control" name="Paycode" placeholder="لینک عکس واریز" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" class="search-form-control" value="@q.Ostan" name="Ostan" placeholder="استان *" />
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="search-form-control" value="@q.City" name="City" placeholder="شهر *" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <textarea class="search-form-control" value="@q.Address" name="Address" placeholder="آدرس *"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" class="search-form-control" value="@q.Codeposti" name="Codeposti" placeholder="کدپستی *" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" class="search-form-control" name="Description" placeholder="توضیحات" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">

                                        <label>هزینه ارسال : @ViewBag.sendprice ریال</label>
                                    </div>
                                    <div class="col-md-12">
                                        <label>مبلغ پرداختی : @ViewBag.sum ریال</label>
                                    </div>
                                </div>
                            </div>
                            <div style="width:100%;background-color:red;color:white;text-align:center">
                                پر کردن همه فیلدهای ستاره دار ضروری است
                            </div>
                        }
                        else
                        {
                            <div style="width:100%;background-color:red;color:white;text-align:center">
                                برای ثبت سفارش، وارد حساب کاربری خود شوید
                                <a href="/Home/Login"><button type="button" class="btn btn--radius-2 btn--green">ورود به حساب</button></a>
                            </div>
                        }
                    </div>

                    <div class="modal-footer">
                        @if (auth == "Customer")
                        {
                            <button type="submit" class="btn btn-primary">ثبت سفارش</button>
                        }
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                    </div>
                </form>
            }
            else
            {
                <div class="modal-body" style="text-align:center">
                    آیتمی در سبد خرید وجود ندارد
                </div>
            }
        </div>
    </div>
</div>

