@using PagedList
@using PagedList.Mvc
@using Ourmsmart.Models
@using Ourmsmart.Controllers
@model IPagedList<Ourmsmart.Models.FAProduct>
@{
    ViewBag.Title = "فروشگاه";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<style>
    .search-form-control {
        height: auto;
        font-size: 15px;
        width: 100%;
        padding: 4px;
    }

    .search {
        height: auto;
        font-size: 15px;
        width: 100%;
        padding: 4px 0px 4px 0px;
    }

    .searchform {
        height: auto;
        background-color: white !important;
        border-radius: 5px;
        margin-bottom: 15px;
        margin-top: 15px;
        padding: 15px;
    }

    .block-20:hover {
        zoom: 1.02;
        border-right: solid 10px #207dff;
        border-bottom: solid 10px #207dff;
    }
    .second:hover {
        zoom: 1.02;
        border-right: solid 10px red;
        border-bottom: solid 10px red;
    }

    .pagenum {
        text-align: center;
        font-family: 'IRANSans';
    }

    .itemstyle {
        background-color: white;
        padding-top: 10px;
        margin: 2px;
    }
    .modal  {
        color:black;
        background-image: linear-gradient(to left,#314755,#26a0da);
    }
    .modal-body div{
        margin-top:5px;
    }
    .nav-link{
        cursor:pointer;
    }
    .modal-body a {
        background-color:white;
        color:red;
        padding:2px;
        border-radius:2px;
    }
    .animateinput {
        width: 50%;
        border: 2px solid #ccc;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        font-size: 16px;
        background-color: white;
        padding: 5px 20px 5px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

        .animateinput:focus {
            width: 70%;
            
        }
    .seachbtn {
        background-color: #207dff;
        color: white;
        font-size:14px;
        padding: 6px 15px 6px 10px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        cursor: pointer;
        margin-right: -4px;
        transition: all 0.4s;
    }
        .seachbtn:hover {
            padding-right: 20px;
            background-color: grey;
            color: white;
        }
</style>
<link href="~/Content/PagedList.css" rel="stylesheet" />
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand bst" href="/Store/Index">OrumSmart</a>
        <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <div class="bst"><span class="oi oi-menu"></span> منو</div>
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav nav ml-auto">
                <li class="nav-item"><a href=@Url.Action("Index", "Home") class="nav-link bst"><span>خانه</span></a></li>
                <li class="nav-item"><a href=@Url.Action("Login", "Home") class="nav-link bst"><span>ورود</span></a></li>
            </ul>
            <div dir="ltr">
                <ul class="navbar-nav nav ml-auto">
                    <li class="nav-item cta mr-md-2">
                        <a data-toggle="modal" data-target="#exampleModal2" class="nav-link" style="margin:1px;">
                            <span style="font-size:12px;">
                                سبد خرید
                                @{
                                    if (Session["Basket"] != null)
                                    {
                                        List<Cbasket> cb = (List<Cbasket>)Session["Basket"];
                                        <span>
                                            <i class="fa fa-shopping-cart"
                                               aria-hidden="true"></i>  @cb.Count
                                        </span>
                                    }
                                    else
                                    {
                                        <span>
                                            <i class="fa fa-shopping-cart"
                                               aria-hidden="true"></i> 0
                                        </span>
                                    }

                                }
                            </span>
                        </a>
                    </li>
                    <li class="nav-item cta mr-md-2">
                        <a data-toggle="modal" data-target="#exampleModal" class="nav-link" style="margin:1px;"><span style="font-size:12px;">
                                    رهگیری
                                <i class="fa fa-search-minus"
                                            aria-hidden="true"></i>
                         </span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<section class="ftco-section bg-light" id="blog-section" ;
        background-size: cover !important">
    <div class="container">
        <div style="width:100%;height:auto;">
            <form class="row bg-light searchform" method="get" action="@Url.Action("Index", "Store")">
                <div class="col-md-4 heading-section text-center ftco-animate">
                    <h4 class="mb-4" style="padding-top:15px;">فروشگاه</h4>
                </div>
                <!--<div class="form-group col-md-3">
                    <select name="Category" class="search-form-control" id="Category">
                        <option value="" disabled selected>انتخاب دسته بندی</option>
                        <option value="Gadget">گجت</option>
                        <option value="Device">دستگاه</option>
                        <option value="Module">قطعات</option>
                    </select>
                </div>-->
                <div class="col-md-8" style="padding-top:5px;">
                    <div style="overflow:hidden;border-bottom-right-radius:50px;border-top-right-radius:50px;">
                        <input type="text" class="animateinput" name="search" placeholder="...">
                        <input type="submit" class="seachbtn" value="جستجو">
                    </div>
                    
                </div>
            </form>
        </div>
        <div class="row d-flex">
            @foreach (var item in Model)
            {
                <div class="col-md-3 ftco-animate itemstyle">
                    <div class="blog-entry">
                        @if (item.Status == "موجود")
                        {
                            <a href=@Url.Action("Detail", "Store", new { id = item.PID }) class="block-20" style="background-image: url('../../@item.Imagepath')"></a>
                            <div style="margin:-50px -10px 0px 0px;position:relative;"><a href=@Url.Action("AddItemToBasket", "Store", new { pid = item.PID, qty = 1 }) class="btn btn-primary">+</a></div>
                        }
                        else
                        {
                            <a href=@Url.Action("Detail", "Store", new { id = item.PID }) class="block-20 second" style="background-image: url('../../@item.Imagepath')"></a>
                            <div style="margin:-50px -10px 0px 0px;position:relative;"><a href="#" class="btn btn-danger" style="background-color:red">+</a></div>
                        }
                        <div class="text d-block">
                            <div class="meta mb-3">
                                @if (item.Status == "موجود")
                                {
                                    <div style="color:green !important;">@item.Status</div>
                                    <div style="color:green">@item.Price</div>
                                    <div style="color:green">ریال</div>
                                }
                                else if (item.Status == "ناموجود")
                                {
                                    <div style="color:red">@item.Status</div>
                                    <div style="color:red">@item.Price</div>
                                    <div style="color:red">ریال</div>
                                }
                                else if (item.Status == "بزودی")
                                {
                                    <div style="color:royalblue">@item.Status</div>
                                    <div style="color:royalblue">@item.Price</div>
                                    <div style="color:royalblue">ریال</div>
                                }

                            </div>
                            <p class=""><a href=@Url.Action("Detail", "Store", new { id = item.PID })>@item.Title</a></p>
                        </div>
                    </div>
                </div>
            }
            @if(Model == null)
            {
                <h3>
                    موردی یافت نشد
                </h3>
            }
        </div>
    </div>
</section>
<br />
<div class="pagenum">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, Category = Request.QueryString["Category"], search = Request.QueryString["search"] }),
                new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded }
                )
</div>
<br />



<!-- Modal Basket-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" dir="ltr">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">رهگیری وضعیت سفارش</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="@Url.Action("traceOrder","Order")" method="post" >
                <div class="modal-body" dir="rtl">
                    <label>کدرهگیری را وارد کنید</label>
                    <input type="text" class="search-form-control" name="trace" value="" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">بررسی</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>

                </div>
            </form>

        </div>
    </div>
</div>


<!-- Modal commit order-->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" dir="ltr">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ثبت سفارش</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @if (Session["Basket"] != null)
            {
                <form action="@Url.Action("insertOrder","Order")" method="post">
                    <div class="modal-body" dir="rtl">
                        <div style="overflow-x:auto">
                            @{
                                VIRADB db = new VIRADB();
                                if (Session["Basket"] != null)
                                {
                                    List<Cbasket> cb = (List<Cbasket>)Session["Basket"];
                                    <table class="table">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">نام</th>
                                                <th scope="col">قیمت</th>
                                                <th scope="col">تعداد</th>
                                                <th scope="col">قیمت کل</th>
                                                <th scope="col">عملیات</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                ViewBag.sum = 250000;
                                            }
                                            @foreach (var item in cb)
                                            {
                                                var q = db.FAProducts.Find(item.PID);
                                                int tprice = Int32.Parse(q.Price) * item.Qty;
                                                ViewBag.sum += tprice;
                                                <tr>
                                                    <td>@q.Title</td>
                                                    <td>@q.Price ریال</td>
                                                    <td>@item.Qty</td>
                                                    <td>@tprice ریال</td>
                                                    <td><a href=@Url.Action("DelItemFromBascket", new { id = item.PID })>حذف</a></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <div>
                                        آیتمی در سبد خرید وجود ندارد
                                    </div>
                                }

                            }
                        </div>
                        <br />
                        @{
                            var cshart = (from a in db.FAContents select a).Where(x => x.title == "شرایط پرداخت").FirstOrDefault();
                            if (cshart != null)
                            {
                                <div class="container">
                                    <div style="width:100%;background-color:red;color:white;text-align:center">
                                        شرایط پرداخت
                                    </div>

                                    <div style="padding:20px;">
                                        @Html.Raw(cshart.content)
                                    </div>
                                </div>
                            }
                        }
                        <br />
                        <div style="width:100%;background-color:red;color:white;text-align:center">
                            فرم اطلاعات
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="search-form-control" name="Name" placeholder="نام و نام خانوادگی" />
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="search-form-control" name="Phone" placeholder="شماره تلفن" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="search-form-control" name="Email" placeholder="ایمیل" />
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="search-form-control" name="Paycode" placeholder="لینک عکس واریز" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="search-form-control" name="Ostan" placeholder="استان" />
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="search-form-control" name="City" placeholder="شهر" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <textarea class="search-form-control" name="Address" placeholder="آدرس" ></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" class="search-form-control" name="Codeposti" placeholder="کدپستی" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" class="search-form-control" name="Description" placeholder="توضیحات" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>هزینه ارسال : 250000 ریال</label>
                            </div>
                            <div class="col-md-12">
                                <label>مبلغ پرداختی : @ViewBag.sum ریال</label>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">ثبت سفارش</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                    </div>
                </form>
            }
            else
            {
                <div class="modal-body" style="text-align:center">
                    آیتمی در سبد خرید وجود ندارد
                </div>
            }
        </div>
    </div>
</div>