@using Ourmsmart.Models
@{
    ViewBag.Title = "صفحه اصلی | خانه هوشمند ارومیه -OrumSmart";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="~/Content/panel/plugins/images/logo-text.png" />
        </a>
        <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle bst" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <div class="bst"><span class="oi oi-menu"></span> منو</div>
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav nav ml-auto">
                <li class="nav-item"><a href="#home-section" class="nav-link bst"><span>خانه</span></a></li>
                <li class="nav-item"><a href="#about-section" class="nav-link bst"><span>درباره ما</span></a></li>
                <li class="nav-item"><a href="#department-section" class="nav-link bst"><span>خدمات</span></a></li>
                <li class="nav-item"><a href="#doctor-section" class="nav-link bst"><span>تیم ها</span></a></li>
                <li class="nav-item"><a href="#blog-section" class="nav-link bst"><span>آخرین محصولات</span></a></li>
                <li class="nav-item"><a href="#contact-section" class="nav-link bst"><span>تماس با ما</span></a></li>
                <li class="nav-item cta mr-md-2"><a href=@Url.Action("Login", "Home") class="nav-link" style="margin:1px;"><i class="fa fa-sign-in" aria-hidden="true"></i> ورود </a></li>
                <li class="nav-item cta mr-md-2"><a href=@Url.Action("Index", "Store") class="nav-link" style="margin:1px;"><i class="fa fa-shopping-basket" aria-hidden="true"></i> فروشگاه</a></li>
            </ul>
        </div>
    </div>
</nav>

<section class="hero-wrap js-fullheight" data-section="home" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text  align-items-center justify-content-start" data-scrollax-parent="true">
            <div class="col-md-6 pt-5 ftco-animate">
                <div class="mt-5">
                    @{
                        VIRADB db = new VIRADB();
                        var ct = (from a in db.FAContents select a).Where(x => x.title == "عنوان").FirstOrDefault();
                        if (ct != null)
                        {
                            @Html.Raw(ct.content);
                        }
                        else
                        {
                            <span class="subheading">به اروم اسمارت خوش آمدید</span>
                            <h1 class="mb-4" style="color:white;line-height:1.2">خانه هوشمند ارومیه <br></h1>
                            <p class="mb-4" style="width:80%;text-align:justify;color:yellow">شرکت ویرا رایانش آریا پاد</p>
                        }

                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-counter img ftco-section ftco-no-pt ftco-no-pb" id="about-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 col-lg-5 d-flex">
                <div class="img d-flex align-self-stretch align-items-center" style="background-image:url(../../Content/Home/images/about.jpg);">
                </div>
            </div>
            <div class="col-md-6 col-lg-7 pl-lg-5 py-md-5">
                <div class="py-md-5">
                    <div class="row justify-content-start pb-3">
                        <div class="col-md-12 heading-section ftco-animate p-4 p-lg-5">
                            @{
                                var cd = (from a in db.FAContents select a).Where(x => x.title == "درباره ما").SingleOrDefault();
                                if (cd != null)
                                {
                                    @Html.Raw(cd.content);
                                }
                                else
                                {
                                    <h2 class="mb-4">ما <span>OrumSmart</span> هستیم.</h2>
                                    <h3>یک گروه فعال در زمینه هوشمندسازی خانه ها</h3>
                                    <p>
                                        ویرا رایانش آریا پاد به عنوان یک شرکت نرم افزاری و سخت افزاری مستقل در سال ۱۳۹۹ در ارومیه تاسیس گردید. این شرکت فعالیت خود را در قالب هوشمند سازی خانگی آغاز کرده و توانایی توسعه و پیاده سازی  سیستم های هوشمند و فرمان پذیر با واسط نرم افزاری و قابل دسترس از سرتاسر جهان را دارد. رویکرد اصلی شرکت ارائه سیستمی هوشمند با قابلیت پیاده سازی روی ساختمان های در حال ساخت یا آماده تحویل با استفاده از قطعات انواع شرکت های تولیدی با پشتیبانی از پروتکل های بی سیم، به واسطه انواع درگاه نرم افزاری اندروید، IOS و وب، روی انواع بستر های شبکه اینترنت، اینترانت و شبکه محلی، با امکان حفظ امنیت روی بستر های ناامن از جمله اینترنت، میباشد. شرکت چشم انداز کاهش زمان پیاده سازی،توسعه و پشتیبانی سیستم های هوشمند را دنبال میکند. دسترسی، زیبایی، آسایش، امنیت خانه از جمله ارزش های  بنیادین قابل ارائه توسط شرکت میباشند.
                                    </p>
                                }
                              }
                            <div style="text-align:center">
                                <img src="#" alt="Alternate Text" />
                                <p><a href="#contact-section" class="btn btn-secondary px-4 py-3">تماس با ما</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Delete services section-->
<br>

<section class="ftco-intro img" style="background-image: url(../../Content/Home/images/bg_2.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 text-center">
                <h2>خدمات ما</h2>
                <p>ما می توانیم هوشمندی را به خانه هایتان بیاوریم</p>
                
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb" id="department-section">
    <div class="container-fluid px-0">
        <div class="row no-gutters">
            <!--<div class="col-md-4 d-flex">
                <div class="img img-dept align-self-stretch" style="background-image: url(../../Content/Home/images/dept-1.jpg);"></div>
            </div>-->

            <div class="col-md-12">
                <div class="row no-gutters d-flex">
                    @{
                        Services s = new Services();
                        List<string> ls = s.getServices();
                        int i = 1;
                    }
                    @foreach (var item in ls)
                    {
                        <div class="col-md-4">
                            <div class="department-wrap p-4 ftco-animate">
                                <div class="text p-2 text-center">
                                    <div class="icon">
                                        <span class="flaticon-24-hours"></span>
                                    </div>
                                    <h3><a href="#">@item</a></h3>
                                    <p>@i</p>
                                </div>
                            </div>
                        </div>
                        i = i + 1;
                    }

                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section" id="doctor-section">
    <div class="container-fluid px-5">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4"> واحدها</h2>
                <p>کادر مجرب و متخصص در زمینه نرم افزار، شبکه، الکترونیک، طراحی</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch" style="background-image: url(../../Content/Home/images/doc-1.png);"></div>
                    </div>
                    <div class="text pt-3 text-center">
                        <h3 class="mb-2">واحد نرم افزار</h3>
                        <span class="mb-2" style="color:blue">اتوماسیون خانه</span>
                        <div class="faded">
                            <br />
                            <ul class="ftco-social text-center">
                                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch" style="background-image: url(../../Content/Home/images/doc-2.png);"></div>
                    </div>
                    <div class="text pt-3 text-center">
                        <h3 class="mb-2">واحد شبکه</h3>
                        <span class="mb-2" style="color:blue">برقراری اتصالات شبکه و امنیت </span>
                        <div class="faded">
                            <br />
                            <ul class="ftco-social text-center">
                                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch" style="background-image: url(../../Content/Home/images/doc-3.png);"></div>
                    </div>
                    <div class="text pt-3 text-center">
                        <h3 class="mb-2">واحد الکترونیک و قدرت</h3>
                        <span class="mb-2" style="color:blue">مجری سیستم های الکترونیکی و قدرتی</span>
                        <div class="faded">
                            <br />
                            <ul class="ftco-social text-center">
                                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch" style="background-image: url(../../Content/Home/images/doc-4.png);"></div>
                    </div>
                    <div class="text pt-3 text-center">
                        <h3 class="mb-2">واحد طراحی</h3>
                        <span class=" mb-2" style="color:blue">طراحی و شبیه سازی</span>
                        <div class="faded">
                            <br />
                            <ul class="ftco-social text-center">
                                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-facts img ftco-counter" style="background-image: url(../../Content/Home/images/bg_3.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-5 heading-section heading-section-white">
                @{
                    var csh = (from a in db.FAContents select a).Where(x => x.title == "شعار").FirstOrDefault();
                    var cta = (from a in db.FAContents select a).Where(x => x.title == "تجربه").FirstOrDefault();
                    var ctkar = (from a in db.FAContents select a).Where(x => x.title == "تعداد کارها").FirstOrDefault();
                    var ctt = (from a in db.FAContents select a).Where(x => x.title == "تعداد تیم ها").FirstOrDefault();
                    var ctk = (from a in db.FAContents select a).Where(x => x.title == "تعداد کارکنان").FirstOrDefault();
                    if (csh != null)
                    {
                        @Html.Raw(csh.content);
                    }
                    else
                    {
                        <span class="subheading"></span>
                        <h2 class="mb-4">اعتماد شما اعتبار ماست.</h2>
                    }
                }
                <p class="mb-0"><a href="#" class="btn btn-info px-4 py-3">نمونه کارها</a></p>
            </div>
            <div class="col-md-7">
                <div class="row pt-4">
                    <div class="col-md-6 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="text">
                                <strong class="number">@if (cta != null) {@Html.Raw(cta.content)}</strong>
                                <span>سال تجربه</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="text">
                                <strong class="number">@if (ctkar != null) {@Html.Raw(ctkar.content)}</strong>
                                <span>تعداد کارها</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="text">
                                <strong class="number">@if (ctt != null) {@Html.Raw(ctt.content)}</strong>
                                <span>تعداد تیم ها</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="text">
                                <strong class="number">@if (ctk != null) {@Html.Raw(ctk.content)}</strong>
                                <span>تعداد کارکنان</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section bg-light" id="blog-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-10 heading-section text-center ftco-animate">
                <h2 class="mb-4">محصولات</h2>
                <p><span class="icon-widgets"></span> آخرین محصولات <span class="icon-wifi"></span></p>
            </div>
        </div>
        <div class="row d-flex">
            @{
                var q = (from a in db.FAProducts select a).OrderByDescending(x => x.PID);
                foreach (var item in q)
                {
                    <div class="col-md-3 ftco-animate" style="background-color:white;padding:15px;margin:5px;">
                        <div class="blog-entry">
                            <a href=@Url.Action("Detail", "Store",new { id = item.PID }) class="block-20" style="background-image: url('../../@item.Imagepath')">
                            </a>
                            <div class="text d-block" style="text-align:center">
                                <div class="meta mb-3">
                                </div>
                                <p class=""><a href="#">@item.Title</a></p>
                                <p><a href=@Url.Action("Detail", "Store",new { id = item.PID }) class="btn btn-secondary py-2 px-3">+ بیشتر بخوانید </a></p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>

<!--
        <section class="ftco-section testimony-section img" style="background-image: url(../../Content/Home/images/bg_3.jpg);">
        <div class="overlay"></div>
      <div class="container">
        <div class="row justify-content-center pb-3">
          <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
            <span class="subheading">Read testimonials</span>
            <h2 class="mb-4">Our Patient Says</h2>
          </div>
        </div>
        <div class="row ftco-animate justify-content-center">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">
              <div class="item">
                <div class="testimony-wrap text-center py-4 pb-5">
                  <div class="user-img" style="background-image: url(../../Content/Home/images/person_1.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text px-4">
                    <p class="mb-4">خدمات برتر, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Jeff Freshman</p>
                    <span class="position">Patients</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center py-4 pb-5">
                  <div class="user-img" style="background-image: url(../../Content/Home/images/person_2.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text px-4">
                    <p class="mb-4">خدمات برتر, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Jeff Freshman</p>
                    <span class="position">Patients</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center py-4 pb-5">
                  <div class="user-img" style="background-image: url(../../Content/Home/images/person_3.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text px-4">
                    <p class="mb-4">خدمات برتر, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Jeff Freshman</p>
                    <span class="position">Patients</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center py-4 pb-5">
                  <div class="user-img" style="background-image: url(../../Content/Home/images/person_1.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text px-4">
                    <p class="mb-4">خدمات برتر, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Jeff Freshman</p>
                    <span class="position">Patients</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center py-4 pb-5">
                  <div class="user-img" style="background-image: url(../../Content/Home/images/person_3.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text px-4">
                    <p class="mb-4">خدمات برتر, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Jeff Freshman</p>
                    <span class="position">Patients</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
-->

<section class="ftco-section contact-section" id="contact-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4">تماس با ما</h2>
                <p>اگر از ما سوالی دارید ، می توانید با استفاده از فرم زیر با ما در ارتباط باشید</p>
            </div>
        </div>
        <div class="row d-flex contact-info mb-5">
            <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                <div class="align-self-stretch box p-4 text-center bg-light">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="icon-map-signs"></span>
                    </div>
                    <h3 class="mb-4">آدرس</h3>
                    <p>ارومیه خیابان مولوی۱ نبش کوی ۸ پلاک ۲۴۴</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                <div class="align-self-stretch box p-4 text-center bg-light">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="icon-phone2"></span>
                    </div>
                    <h3 class="mb-4">شماره تماس</h3>
                    <p><a href="tel://04433489690">۳۳۴۸۹۶۹۰ ۰۴۴</a></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                <div class="align-self-stretch box p-4 text-center bg-light">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="icon-paper-plane"></span>
                    </div>
                    <h3 class="mb-4">پست الکترونیک</h3>
                    <p><a href="mailto:info@yoursite.com">info@orumsmart.ir</a></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                <div class="align-self-stretch box p-4 text-center bg-light">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="icon-globe"></span>
                    </div>
                    <h3 class="mb-4">شبکه های اجتماعی</h3>
                    <p><a href="#">orumsmart@@</a></p>
                </div>
            </div>
        </div>
        <div class="row no-gutters block-9">
            <div class="col-md-6 order-md-last d-flex">
                <form class="bg-light p-5 contact-form" id="contactform">
                    <div class="form-group">
                        <input type="text" class="form-control" id="cname" name="Name" placeholder="نام و نام خانوادگی">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="cemail" name="Email" placeholder="ایمیل">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="csubject" name="Subject" placeholder="موضوع">
                    </div>
                    <div class="form-group">
                        <textarea name="Message" id="cmessage" cols="30" rows="7" class="form-control" placeholder="پیام"></textarea>
                    </div>
                    <div class="form-group">
                        <p> <a onclick="postcontact()" class="btn btn-secondary py-3 px-5">ارسال پیام</a></p>
                    </div>
                </form>

            </div>

            <div class="col-md-6 d-flex">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1582.2043286816474!2d45.06341635806572!3d37.521863022269116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4005534ec1fe8eeb%3A0xcb06410c8f1557da!2z2LTYsdqp2Kog2YjbjNix2Kcg2LHYp9uM2KfZhti0INii2LHbjNinINm-2KfYrw!5e0!3m2!1sen!2s!4v1607265456633!5m2!1sen!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" id="map"></iframe>
            </div>
        </div>
    </div>
</section>


<script>
    function postcontact() {
        sData = JSON.stringify({ Name: $('#cname').val(), Email: $('#cemail').val(), Subject: $('#csubject').val(), Message: $('#cmessage').val() });
        jQuery.support.cors = true;
        $.ajax({
            type: 'POST',
            dataType: 'JSON',
            contentType: 'application/json; charset=utf-8',
            data: sData,
            url: "/Home/Contact",
            success: function (rs) {
                if (rs.success) {
                    toastr.success(rs.message, 'با سلام', { timeOut: 3000 });
                    document.getElementById("contactform").reset();
                    /*setTimeout(() => {
                        $('html, body').animate({ scrollTop: 0 }, 1500);
                    }, 3000);*/
                    

                }
                else {
                    toastr.warning(rs.message, 'خطا', { timeOut: 3000 });

                }
            },
            error: function (response) {
                toastr.error(response.message, 'خطا', { timeOut: 3000 });
            }
        });
    }
</script>